<form [formGroup]="taskForm">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre de la tarea</mat-label>
    <input
      matInput
      placeholder="Ej. Cortar cesped"
      formControlName="taskName"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="limitDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div *ngFor="let person of people; let i = index">
    <button mat-raised-button (click)="deletePerson(i)">
      Eliminar Persona {{i}}
    </button>
    <app-person-form [personForm]="person"></app-person-form>
  </div>
  <button mat-raised-button (click)="addPerson()">Añadir Persona</button>
  <button mat-raised-button>Guardar Tarea</button>
</form>
